@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  /* 
    모든 페이지는 div 한번 감싸야 함
    - flex-1 적용 → 상위 main/flex 구조에서 남은 화면 높이 채우기
    - max-width 설정 → 페이지별 디자인 가이드에 맞춰서 (ex: 824, 1024, 1224, full)
    - padding 적용 → 좌우 여백 통일 (ex: px-4)
    - 중앙 정렬 유지 → mx-auto
    */

  .page-layout {
    @apply flex-1 w-full px-3 mx-auto;
  }

  .max-w-1200 {
    @apply max-w-[1200px];
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
