/* toastStyles.module.css */

/* 공통 아이콘 스타일 */
.toastIconWhite svg {
  fill: white !important;
  color: white !important;
}

.toastIconBrown svg {
  fill: #b99470 !important;
  color: #b99470 !important;
}

/* 성공 메시지 */
.Toastify__toast--success {
  background-color: #a6b37d !important;
  color: white !important;
  font-weight: 500;
  line-height: 20px;
}

/* 정보 메시지 */
.Toastify__toast--info {
  background-color: white !important;
  border-left: 6px solid #b99470 !important;
  color: black !important;
  font-weight: 500;
  font-size: 0.95rem;
}

/* 경고 메시지 */
.Toastify__toast--warning {
  background-color: #b99470 !important;
  color: white !important;
}

/* 에러 메시지 */
.Toastify__toast--error {
  background-color: black !important;
  color: white !important;
}

/* 닫기 버튼 */
.Toastify__close-button {
  color: white !important;
}
