.recentEnterUser {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  height: 20rem;
  padding-top: 1rem;
  overflow-x: hidden;
  margin-bottom: 1.2rem;

  p {
    margin-left: 8px;
    font-size: 1rem;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #ced9d9;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c4a98f;
    border-radius: 20px;
    cursor: pointer;
  }
}
